:root {
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-white: #fff;
    --color-danger: #FF0060;
    --color-primary: #6C9BCF;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-info-dark: #7d8da1;
    --color-background: #f6f6f9;
    --color-transparent: transparent;
    --color-dark-variant: #677483;

    --border: 2px solid rgba(255, 255, 255, .5);
    --backdrop: blur(20px);
    --border--radius: 15px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}