.card{
    border:none;
    border-radius: 50%;
    display: flex;
    padding: 10em;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    position: relative;
    &:hover{
        background-color: #F25C84 ;
        color:#B65CF2
    }
    
}

