.card {
  width: 300px;
  border: solid #fff;
  background-color: #f5f5f5;
  border-radius: 8%;
  padding: 20px;
  text-align: center;
  background-image: url('../../assets/background-card.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.card:hover{
    padding: 80px;
    opacity: 100%;
    /* background-image: url('ruta-del-archivo-de-sonido.mp3'); */
    content: '';
  }

.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.back img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.back h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.name{
  font-size: 3em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 10px;
  background-color: #f5f5f5;
  border-color: blue;
  border-radius: 45%;
  padding: 10px;

}

.attribute {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: left;
  background-color: #f5f5f5;
  border-color: blue;
  border-radius: 15%;
  padding: 10px;
}

.attribute span {
  font-weight: bold;
}

.attribute p {
  margin: 0;
}
