@font-face {
  font-family: rick_and_morty_title;
  src: url(../../assets/get_schwifty.ttf);
}

.card {
    border: #9308A6 solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: 2em;
    font-family: 'Courier new', Courier, monospace;
    width: 500px;
    height: 800px;
    margin: 2em;
    padding: 0;
    transform-style: preserve-3d;
    transform: translateZ(-2em) rotateX(8deg);
    
  }
  
  .tilteName{
    font-family: rick_and_morty_title;
    padding: 1em;
    
  }

.card button{
  border-radius: 50%;
  border: solid #05F2AF;
  margin: 0.2em;
  color:#F25C84;
  font-size: 3em;
  font-weight: bold;
  transform: transform 0.3 ease;
}

.card button:hover{
  background-color: #9308A6;
  transform: scale(1.1);

}

.card h2 {
  margin: 0.2em;
}
  
  .card:hover{
    padding: 20px;
    transform-style: preserve-3d;
    transform: translateZ(2em) rotateX(0deg);
  }


  .back{  
    background-image: url('../../assets/background-card.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 70%;
    width: 85%;
    
  }

  .pjImg {
      border-radius: 50%;
  }