:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-transparent: transparent;

    --border: 2px solid rgba(255, 255, 255, .5);
    --backdrop: blur(20px);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}


.about {
    color: var(--color-background);
    border: var(--border);
    margin: 20px;
    padding: 20px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
